<ion-view view-title="Donate">
  <ion-content>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Amount">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Credit Card Number">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Expiration Date">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="CSV">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Full Name On Credit Card">
      </label>

    </div>
    <center>
    <button class="button button-large button-assertive">
          Donate!
    </button>
    </center>
  </ion-content>
</ion-view>
