<ion-view view-title="LifeLine" class="col-sm-8 col-sm-offset-2">
  <ion-content class="padding">
    <div class="container">
      <!--<div class="col-sm-8 col-sm-offset-2">-->
        
        
        <!--If user does not have emergencynumber or phonenumber set, this block will appear-->
        <div ng-if="emergencynumber == null || phonenumber == null || name == null">
          <p class="text-center small bg-danger">Please set your personal phonenumber/name under Account.</p>
        </div>
        <!--If user's device is getting it's location, this block will appear-->
        <div ng-if="lat == 'Getting latitude...' || long == 'Getting longitude...'">
          <p class="text-center small ">Getting Latitude and Longitude. Please Wait.</p>
        </div>
        
        
        <div ng-if="emergencynumber != null && phonenumber != null && lat != 'Getting latitude...' && long != 'Getting longitude...'" >
        <br>
        <h5 class="text-center m-t-20">Tap to call 995 and to alert nearby medical personnel</h5>
        <br>
        
        <form action="http://ieor185-danielseetoh.c9users.io/sendmessage" method="POST" target="index.html" id="call_medic_form">
          <input type="hidden" name="addresspoint" value="({{lat}},{{long}})">
          <input type="hidden" name="phonenumber" value="{{phonenumber}}">
          <input type="hidden" name="currenthour" value="{{currenthour}}">
          <!--<a href="tel:{{emergencynumber}}">-->
          <!--<button id="call_medic_submit" class="button button-full button-assertive"name="call_medic_submit" ng-click="submit_form()">Help!</button>-->
          <!--</a>-->
          <p class="text-center">
            <a href="tel:{{emergencynumber}}">
              <img type="image" src="img/HelpButton.png" ng-click="submit_form()" class="midsize">
            </a>
          </p>
        </form>
        <br>
        <h6 class="text-center small">
          Nearby medical personnel will receive your location via text message and will try to reach you while you are waiting for the ambulance to arrive
        </h6>
        </div>
        <!--<p>Emergency Number is: {{emergencynumber}}</p>-->
        <!--<p>Phonenumber is: {{phonenumber}}</p>-->
        
        
      <!--</div>-->
    </div>
  </ion-content>
</ion-view>

