<ion-view view-title="Account">
  <ion-content>


    <!--<p>Emergency Number is: {{emergencynumber}}</p>-->
    <!--<p>Phonenumber is: {{phonenumber}}</p>-->
    <ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-name">
      <h2>Name</h2>
      <h2 class="icon item-icon-right icon-accessory" >{{name}}</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <!--<ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-emergency-number">-->
    <!--  <h2>Emergency Number</h2>-->
    <!--  <h2 class="icon item-icon-right icon-accessory" >{{emergencynumber}}</h2>-->
    <!--  <i class="icon ion-chevron-right icon-accessory"></i>-->
    <!--</ion-item>-->
    <ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-phone-number">
      <h2>Phone Number</h2>
      <h2 class="icon item-icon-right icon-accessory" >{{phonenumber}}</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <br>


  </ion-content>
</ion-view>
