<ion-view view-title="Account">
  <ion-content>


    <!--<p>Emergency Number is: {{emergencynumber}}</p>-->
    <!--<p>Phonenumber is: {{phonenumber}}</p>-->
    <ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-name">
      <h2>Name</h2>
      <h2 class="icon item-icon-right icon-accessory" >{{name}}</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <!--<ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-emergency-number">-->
    <!--  <h2>Emergency Number</h2>-->
    <!--  <h2 class="icon item-icon-right icon-accessory" >{{emergencynumber}}</h2>-->
    <!--  <i class="icon ion-chevron-right icon-accessory"></i>-->
    <!--</ion-item>-->
    <ion-item class="item-remove-animate item-icon-right" href="#/tab/account/edit-phone-number">
      <h2>Phone Number</h2>
      <h2 class="icon item-icon-right icon-accessory" >{{phonenumber}}</h2>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <br>
    <center>
    <button class="button button-large button-calm">
      Donate!
    </button>
    </center>
    <!--<label class="item item-input">-->
    <!--  <span class="input-label">Emergency Number</span>-->
    <!--  <input type="tel" ng-model="test" value="{{emergencynumber}}">-->

    <!--</label>-->
    <!--<label class="item item-input">-->
    <!--  <span class="input-label">Phone Number</span>-->
    <!--  <input type="tel">-->
    <!--</label>-->
  </ion-content>
</ion-view>
