<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{tip.name}}">
  <ion-content class="padding">
    <!--<img ng-src="{{tip.face}}" style="width: 64px; height: 64px">-->
    
    <div class="card">
      <div class="item item-image">
        <img ng-src="{{tip.image1}}" class="fullsize">
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Symptoms
      </div>
      <div class="item item-text-wrap" >
        <p>
        {{tip.symptoms}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Instructions
      </div>
      <div class="item item-text-wrap" ng-repeat="instruction in tip.instructions">
        {{instruction}}
      </div>
      <div class="item item-text-wrap" ng-if="tip.extrainstructions">
        <p ng-repeat="instruction in tip.extrainstructions">
        {{instruction}}
        </p>
      </div>

      <a ng-if="emergencynumber != null && phonenumber != null && lat != 'Getting latitude...' && long != 'Getting longitude...'" class="item item-icon-left assertive" ng-click="showConfirm()">
        <i class="icon ion-helpbutton"></i>
        <!--<p class="text-center">-->
        &nbsp;&nbsp;&nbsp; Call 995 and Get Help!
        <!--</p>-->
      </a>
      <div ng-if="emergencynumber == null || phonenumber == null || name == null" class="item item-text-wrap">
        <p class="text-center small bg-danger">Please set your personal phonenumber/name under Account.</p>
      </div>
    </div>
    <!--<ion-item class="item-icon-left item-remove-animate item-icon-right" ng-repeat="info in tip.information" type="item-text-wrap">-->
    <!--<p>-->
    <!--  {{info}}-->
    <!--</p>-->
    <!--</ion-item>-->
  </ion-content>
</ion-view>
